
{% extends "krusty_proxy/base.html" %}

    {% block content %}

    {% include "krusty_proxy/includes/header.html" %}

        {% if form.errors %}
            <p>Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте ещё раз.</p>
        {% endif %}
        
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Авторизоваться</button>
            <input type="hidden" name="next" value="{% url 'users:dashboard' %}" />
        </form>

    {% include "krusty_proxy/includes/footer.html" %}
    
    {% endblock content %}
